<!-- {{title}} -->
<!-- <app-about></app-about> -->
<!-- <app-complaints></app-complaints> -->
<!-- <app-sotm></app-sotm> -->
<!-- <app-notices></app-notices> -->
<!-- <app-timetable></app-timetable> -->
<!-- <app-results></app-results> -->
<!-- <app-login></app-login> -->
<!-- <app-forgotpwd></app-forgotpwd> -->
<!-- <app-resetpwd></app-resetpwd> -->
<!-- <app-register></app-register> -->
<router-outlet></router-outlet>
<!-- <app-cc-notices></app-cc-notices>  -->
<!--  <app-cc-sotm></app-cc-sotm> -->
<!-- <app-cc-complaints></app-cc-complaints> -->
<!-- <app-ccinternalmarks></app-ccinternalmarks> -->
<!-- <app-cc-left-sidebar></app-cc-left-sidebar> -->

<!-- <app-cc-externalresult></app-cc-externalresult> -->
<!-- <app-cc-studentdata></app-cc-studentdata> -->