<div class="container-fluid">
    <div class="row">
        <div class="col-2"
            style="height:100vh;background-color: rgb(188, 217, 241);overflow-x: hidden;position: fixed;z-index: 1;">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="col-2">
            {{monthDetails |json}}
        </div>
        <div class="col-10">
            <div style="padding-top: 25px;">
                <app-header></app-header>
            </div>
            <hr>
            <hr>
            <div>
                <div class="row">
                    <div class="col-10">
                        <h4>SOTM</h4>
                    </div>
                    <div class="col-2">
                        <button id="getcform" class="btn btn-primary">New SOTM</button>
                    </div>
                </div>
                <form class="cform" #cForm="ngForm" (ngSubmit)="submitSotm(cForm.value)">
                    <div class="form-group">
                        <label>Student Prn</label>
                        <input type="text" required #title="ngModel" [class.is-invalid]="title.invalid && title.touched"
                            name="studentprn" class="form-control" id="title" ngModel>
                        <small class="text-danger" [class.d-none]="title.valid || title.untouched">Title is
                            required.</small>
                    </div>

                    <div class="form-group">
                        <label for="topic">Select Month name : &nbsp;</label>
                        <select (blur)="validateMonth(topic.value)" (change)="validateMonth(topic.value)" required
                            #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" name="monthName"
                            ngModel>
                            <option value="">Select Month Name</option>
                            <option *ngFor="let monthname of MonthName">{{monthname}}</option>
                        </select>
                        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Select Month Name
                            *</small>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="10" cols="20" required #desc="ngModel"
                            [class.is-invalid]="desc.invalid && desc.touched" name="description" class="form-control"
                            id="desc" ngModel></textarea>
                        <small class="text-danger" [class.d-none]="desc.valid || desc.untouched">Description is
                            required.</small>
                    </div>
                    <button type="submit" [disabled]="cForm.form.invalid"
                        class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                    <button type="reset" id="closecform" class="btn btn-secondary">Cancel</button>
                    <!-- <button type="reset"  class="btn btn-secondary">Reset</button> -->
                </form>
                <h4>Previous SOTM</h4>
                <div class="row">
                    <div *ngFor="let item of cc_sotm">
                        <div class="col-3">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="/assets/images/logo.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.monthName}}</h5>
                                    <p class="card-text">PRN: {{item.studentprn}}
                                        <!-- <br>StomId: {{item.stomId}}<br>Course:
                                        {{item.course}} -->
                                    </p>
                                    <button class="btn btn-primary" id="abc"
                                        (click)="viewSotm(item)">View</button>&nbsp;&nbsp;
                                    <button class="btn btn-secondary" id="abc" (click)="editSotm(item)">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>