<div class="container-fluid">
    <div class="row">
        <div class="col-2"
            style="height:100vh;background-color: rgb(188, 217, 241);overflow-x: hidden;position: fixed;z-index: 1;">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="col-2">

        </div>
        <div class="col-10">
            <div style="padding-top: 25px;">
                <app-header></app-header>
            </div>
            <hr>
            <hr>
            <div>
                <!-- {{id}}
                {{com_notices |json}}
                <button type="submit" class="btn btn-secondary" (click)="getdata()">Reset</button> -->
                <form class="cform" #cForm="ngForm" (ngSubmit)="submitData(cForm.value)">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" required #title="ngModel" [class.is-invalid]="title.invalid && title.touched"
                            name="title" class="form-control" id="title" [ngModel]="com_notices.title">
                        <small class="text-danger" [class.d-none]="title.valid || title.untouched">Title is
                            required.</small>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="10" cols="20" required #desc="ngModel"
                            [class.is-invalid]="desc.invalid && desc.touched" name="description" class="form-control"
                            id="desc" [ngModel]="com_notices.description"></textarea>
                        <small class="text-danger" [class.d-none]="desc.valid || desc.untouched">Description is
                            required.</small>
                    </div>

                    <button type="submit" [disabled]="cForm.form.invalid"
                        class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                    <button type="reset" id="closecform" class="btn btn-dark"
                        (click)="gotoBack()">Cancel</button>&nbsp;&nbsp;
                    <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                    <!-- <button type="reset" class="btn btn-secondary">Reset</button> -->
                </form>
            </div>
        </div>
    </div>
</div>